body {
	padding: 0.3rem;
}

table {
	width: 100%;
}

.ch {
	display: flex;
	justify-content: center;
}

.success,
.error,
.warning,
.info {
	display: inline-block;
	padding: 0.5rem;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.success {
	background: rgb(28, 184, 65);
	/* this is a green */
}

.error {
	background: rgb(202, 60, 60);
	/* this is a maroon */
}

.warning {
	background: rgb(223, 117, 20);
	/* this is an orange */
}

.pure-button.info, .info {
	background: rgb(66, 184, 221);
	/* this is a light blue */
}

th.banner {
	background: #333;
	color: white;
}

.pure-button.icon {
	padding: 1px;
}